fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-multipart
pillow
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
python-jose[cryptography]
passlib[bcrypt]
alembic
pytest
httpx
dotenv
python-dotenv
email-validator
bcrypt==3.2.0
